<div>
<h1>Login</h1>
<form name="loginF" action="/login"  onsubmit="return validateL()" method="POST">
	<input type="text" name="logemail" placeholder="Email"/>
<br/>
	<input type="password" name="logpassword" placeholder="Password"/>
<br/>
	<input type="submit" onsubmit="return validateL()" value="Login"/>
</form>
</div>
<div>
<h1>Register</h1>
<form name="registerF" action="/login" method="POST" onsubmit="return validateR()" >
	<input type="text" name="email" placeholder="Email"/>
<br/>
	<input type="text" name="username" placeholder="Username"/>
<br/>
	<input type="password" name="password" placeholder="Password"/>
<br/>
	<input type="password" name="passwordConf" placeholder="Confirm Password"/>
<br/>
	<input type="submit"  onsubmit="return validateR()" value="Register"/>
</form>
</div>
<script type="text/javascript">
function validateEmail(mail) 
{

 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
  {
    return (true)
  }
    alert("You have entered an invalid email address!")
    return (false)
}
function validateL() {
  var em = document.forms["loginF"]["logemail"].value;
  if (em == "") {
    alert("Email must be filled out");
    return false;
  }
  
  if(!validateEmail(em)){
    return false;
  }
  var pa = document.forms["loginF"]["logpassword"].value;
if (pa == "") {
    alert("Password must be filled out");
    return false;
  }
}
function validateR() {
  var em = document.forms["registerF"]["email"].value;
  if (em == "") {
    alert("Email must be filled out");
    return false;
  }
  
  if(!validateEmail(em)){
    return false;  
  }
  var pa = document.forms["registerF"]["password"].value;
if (pa == "") {
    alert("Password must be filled out");
    return false;
  }
  var us = document.forms["registerF"]["username"].value;
  if (us == "") {
    alert("Username must be filled out");
    return false;
  }
  
  var pac = document.forms["registerF"]["passwordconf"].value;
if (pac == "") {
    alert("Password Confirmation must be filled out");
    return false;
  }
}
</script>
