<div>
<h1>Login</h1>
<form action="/createUser" method="POST">
	<input type="text" name="username"/>
	<input type="text" name="password"/>
	<input type="text" name="cpassword"/>
	<input type="submit" text="Register"/>
</form>
</div>
