<html>
  <body>
    <% books.forEach((book) => { %>
    <% book.results[0]['work'].forEach((work) => { %>
    <div>
      <img src='<%= work.best_book[0].image_url[0] %>'/>
      <p><%=work.best_book[0].title[0] %></p>
    </div>
    <%  }) }); %>
  </body>
</html>
