<div>
  <% threads.forEach(function(thread) { %>
    <div>
      <p>
        <a href="/discussions/<%= thread.id %>">
          <%= thread.title %>
        </a>
      </p>
    </div>
  <% }); %>
  <form action="/createThread" method="post">
  <input type="text" name="title" placeholder="Title" >
  <br/>
  <input type="text" name="book" placeholder="Name of Book" >
  <br/>
 Private <input type="checkbox" name=private >
 <br/>
  <input type="submit" value="Create Thread">
  </form>
</div>
