<div>
  <% threads.forEach(function(thread) { %>
    <div>
      <p>
        <a href="/discussions/<%= thread.id %>">
          <%= thread.title %>
        </a>
      </p>
    </div>
  <% }); %>
  <form action="/createThread" method="post">
  <input type="text" name="title" >
  <input type="submit" value="Create Thread">
  </form>
</div>
